.tile {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-row{
  display: flex;
}


.on {
  background: green;
}

.off {
  background-color: gray;
}
